@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


:root {
    --color-primary: hsl(359, 96%, 44%);
    --color-primary1: hsl(0, 45%, 50%);

    --color-secundary: hsl(220, 60%, 40%);
    --color-secundary1: hsl(240, 30%, 21%);

    --color-variation2: hsl(220, 30%, 40%);
    --color-variation1: hsl(220, 90%, 40%);

    --color-dark: hsl(0, 14%, 12%);
    --color-success: hsl(137, 63%, 42%);
    --color-light: hsl(0, 30%, 50%);

    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 0%, 100%);

    --color-gray0: hsl(0, 0%, 7%); 
    --color-gray1: hsl(0, 0%, 10%); 
    --color-gray2: hsl(0, 0%, 30%);
    --color-gray3: hsl(0, 0%, 50%);
    --color-gray4: hsl(0, 0%, 70%);
    --color-gray5: hsl(0, 0%, 90%);
    --color-gray6: hsl(0, 0%, 95%) ;

    /*==== Cores para os status ===*/
    /*==== Cores para os status ===*/
    /*==== Cores para os status ===*/

    --danger: #d67676;
    --warning: #FBC02D;
    --success: #388E3C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    /*========= Mudar as cores para o modo escuro  ==========*/
    /*=======================================================*/
    
    --color-white: var(--color-gray1);
    --color-gray6: var(--color-gray0);
    --color-secundary: var(--color-variation1);
    --color-gray2: var(--color-gray5);

}

body{
    background: var(--color-gray6);
    overflow-x: hidden;
}


/*=============================================================*/
/*=============================================================*/
/*===================== BARRA DE NAVEGAÇÃO ====================*/
/*=============================================================*/
/*=============================================================*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-white);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 55px;
}

.sidebar.close li a p{
    display: none;
}


.sidebar .logo{
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo img{
    width: 10rem;
    padding: 20px 10px 10px 10px;
}



.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.sidebar .side-menu li.active{
    background: var(--color-gray6);
    position: relative;
}


.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--color-white);
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    color: var(--color-gray2);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}


.sidebar .side-menu li a i{
    width: 30px;
    padding: 10px;
    margin-right: 5px;
}

.sidebar .side-menu li.active a{
    color: var(--color-gray5);
    background-color: var(--color-secundary);
}

.sidebar.close .side-menu li a{
    transition: all 0.3s ease;
}


.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--color-primary);
    overflow: hidden;
}

/*=============================================================*/
/*=============================================================*/
/*===================== BARRA DE NAVEGAÇÃO ====================*/
/*=============================================================*/
/*=============================================================*/

/*=============================================================*/
/*=============================================================*/
/*=========================== NAVBAR ==========================*/
/*=============================================================*/
/*=============================================================*/

.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content nav{
    height: 56px;
    background: var(--color-white);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}


.content nav a{
    color: var(--color-gray2);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--color-gray2);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--color-gray6);
    outline: none;
    width: 100%;
    color: var(--color-gray2);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-secundary);
    color: white;
    font-weight: 000;
    font-size: 13px;
    border: none;
    outline: none;
    cursor: pointer;
}

.content nav form .form-input button .bx{
    font-size: 16px;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}

.content nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    font-weight: 700;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--color-gray6);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--color-secundary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}


/*=============================================================*/
/*=============================================================*/
/*=========================== NAVBAR ==========================*/
/*=============================================================*/
/*=============================================================*/

/*=============================================================*/
/*=============================================================*/
/*============================ MAIN ===========================*/
/*=============================================================*/
/*=============================================================*/
.content main{
    width: 100%;
    padding: 10px 20px 20px 20px;
    max-height: calc(100vh - 56px);
}

.content main .main-section{
    width: 100%;
    display: none;
}

.content main .main-section:first-child{
    display: block;
}

/*=============================================================*/
/*======================== HEADER MAIN ========================*/
/*============================================================= status*/

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--color-primary);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    color: var(--color-gray2);
}

.content main .header .left .breadcrumb li{
    color: var(--color-gray2);
}

.content main .header .left .breadcrumb li a{
    color: var(--color-gray2);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--color-secundary);
    pointer-events: none;
}

a.report{
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--color-secundary);
    color: white;
}


/*=============================================================*/
/*====================== INSIGHTS MAIN ========================*/
/*=============================================================*/


.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 20px;
}

.content main .insights li{
    padding: 24px;
    background: var(--color-white);
    border-radius: 5px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gray6);
    color: var(--color-secundary);
}

.content main .insights li .info h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--color-gray2);
}

.content main .insights li .info p{
    color: var(--color-gray2);
}

/*=============================================================*/
/*=================== DADOS DE BAIXO MAIN =====================*/
/*=============================================================*/


.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin-top: 20px;
    width: 100%;
    color: var(--color-gray2);
}

.content main .bottom-data>div{
    border-radius: 5px;
    background: var(--color-white);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 20px;
    color: var(--color-secundary);
}

.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx{
    cursor: pointer;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--color-gray5);
}


.content main .bottom-data .orders table td{
    padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.content main .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: var(--color-gray6);
}

.content main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: white;
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process{
    background: var(--danger);
}

.content main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

.content main .bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;
}

.content main .bottom-data .reminders .task-list{
    width: 100%;
}

.content main .bottom-data .reminders .task-list li{
    width: 100%;
    margin-bottom: 16px;
    background: var(--color-gray6);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title{
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p{
    margin-left: 6px;
}

.content main .bottom-data .reminders .task-list li .bx{
  cursor: pointer;  
}

.content main .bottom-data .reminders .task-list li.completed{
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed{
    border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child{
   margin-bottom: 0;
}

/*=============================================================*/
/*=================== DADOS DE BAIXO MAIN =====================*/
/*=============================================================*/

/*======================================================================*/
/*======================================================================*/
/*======================= TABELAS DOS RESULTADOS =======================*/
/*======================================================================*/
/*======================================================================*/

.content-table{
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
    background: var(--color-white);
    margin-top: 20px;
    border-radius: 5px;
    color: var(--color-gray2);
}
.content-table .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--color-gray6);
    color: var(--color-secundary);
}
.content-table .header>div{
    display: flex;
    align-items: center;
    gap: 15px;
}
table.tabela{
    width: 100%;
    border-collapse: collapse;
}

table.tabela th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--color-gray6);
    padding-top: 10px;
    padding-right: 10px;
}


table.tabela th.actions-table{
    text-align: center;
}

table.tabela td .rule{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--success);
}


table.tabela tr td.message-td{
    max-width: 350px;
}


table.tabela tr td .img-perfil{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

table.tabela td{
    padding: 10px 0;
    padding-right: 10px;
}

table.tabela td.cell-actions{
    text-align: center;
}

table.tabela td.cell-actions a{
    color: white;
}

table.tabela td.disp{
    color: var(--success);
    font-weight: 500;
}

table.tabela td.ind{
    color: var(--danger);
    font-weight: 500;
}

table.tabela td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

table.tabela td img.produto-img{
    width: 70px;
    height: 70px;
    border-radius: 0;
    object-fit: cover;
}

table.tabela tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

table.tabela tbody tr:hover{
    background: var(--color-gray6);
}

table.tabela tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--color-white);
    border-radius: 20px;
    font-weight: 700;
}

table.tabela tr td .status.completed{
    background: var(--success);
}

table.tabela tr td .status.process{
    background: var(--danger);
}

table.tabela tr td .status.pending{
    background: var(--warning);
}

/*======================================================================*/
/*======================================================================*/
/*======================= TABELAS DOS RESULTADOS =======================*/
/*======================================================================*/
/*======================================================================*/

/*===============================================================*/
/*================= PAGINA COM FORMULÁRIO =======================*/
/*===============================================================*/

 .login-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gray4);
}

.message-sec{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.05);
}

.message-sec .message{
    width: 20rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--color-white);
    color: var(--color-gray2);
    font-size: 16px;
    z-index: 100;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.message-sec .message a {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-primary);
    font-size: 13px;
    border: 1px solid var(--color-primary);
}

.login-container{
    width: 60rem;
    min-height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gray2);
    border-radius: 10px;
    overflow: hidden;
}

.login-page .login-container>div{
    width: 50%;
    min-width: 25rem;
    min-height: 35rem;
    text-align: center;
}

.login-page .login-container .right-login-container{
    background: linear-gradient(120deg, rgb(17, 59, 228), var(--color-secundary),  var(--color-secundary));
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-page .login-container .right-login-container h1{
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
}

.login-page .login-container .right-login-container h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background: var(--color-primary);
    border-radius: 20px;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.login-page .login-container .left-login-container{
    background-color: var(--color-white);
    padding: 3rem;
}

.login-page .login-container .left-login-container h2{
    font-size: 2em;
    padding-bottom: 10px;
    font-weight: 700;
}

.login-page .login-container .left-login-container span{
    font-size: 13px;
    padding-top: 10px;
    display: inline-block;
    color: var(--color-gray2);
}

.login-page .login-container .left-login-container span.a-span{
    padding-top: 0;
    width: 100%;
    text-align: right;
}

.login-page .login-container .left-login-container span a{
    text-decoration: underline;
    color: var(--color-gray3);
}

.login-page .login-container .left-login-container .social-midia-sec{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-page .login-container .left-login-container .social-midia-sec a{
    padding: 5px;
    width: 7rem;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.login-page .login-container .left-login-container form .input-wrap 
{
    position: relative;
    margin: 22px 0;
}

.login-page .login-container .left-login-container form .input-wrap:last-child 
{
    margin: 0;
}

.login-page .login-container .left-login-container form .inline-input-wrap
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.login-page .login-container .left-login-container form .inline-input-wrap .input-wrap
{
    width: 50%;
    margin: 0;
}

.login-page .login-container .left-login-container form .inline-input-wrap .input-wrap .input-login
{
    width: 100%;
    margin: 0;
}

.login-page .login-container .left-login-container form .input-wrap .input-login
{
    width: 100%;
    background: var(--color-gray6);
    border: 1px solid var(--color-neutral-2);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--color-text-muted);
    font-weight: 500;
    transition: 0.2s;
}

.login-page .login-container .left-login-container form .input-wrap select
{
    width: 100%;
    background: var(--color-gray6);
    border: 1px solid var(--color-neutral-2);
    padding: 1rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--color-text-muted);
    font-weight: 500;
    transition: 0.2s;
    margin-top: -10px;
}

.login-page .login-container .left-login-container form .input-wrap .input-login:focus
{
    border: 1px solid var(--color-primary);
    transition: 0.2s;
}

.login-page .login-container .left-login-container form .input-wrap label
{
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    font-size: 14px;
    transition: 0.5s;
    color: var(--color-text);
}

.login-page .login-container .left-login-container form .input-wrap.input-wrap-select
{
    text-align: left;
    margin-top: 10px;
}

.login-page .login-container .left-login-container form .input-wrap.input-wrap-select label
{
    position: relative;
    top: 0;
    left: 0;
    color: var(--color-text);
}

.login-page .login-container .left-login-container form .input-wrap .input-login:focus ~ label,
.login-page .login-container .left-login-container form .input-wrap .input-login:valid ~ label
{
    top: 27%;
    font-size: 11px;
    transition: 0.5s;
    color: var(--color-primary);
}

.login-page .login-container .left-login-container form .input-wrap .icon
{
    position: absolute;
    top: 50%;
    right: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--color-text-muted);
    cursor: pointer;
}

.login-page .login-container .left-login-container form .input-wrap .input-login:focus ~ .icon
{
    transition: 0.5s;
    color: var(--color-primary);
}

.login-page .login-container .left-login-container form .input-wrap .ic3
{
    width: 100%;
    resize: none;
    padding-bottom: 140px;
}


.login-page .login-container .left-login-container form .input-wrap .ic3:focus ~ label,
.login-page .login-container .left-login-container form .input-wrap .ic3:valid ~ label
{
    top: 0.7rem;
}

.login-page .login-container .left-login-container form .input-wrap .ic3 ~ label
{
    top: 1.5rem;
    transform: none;
}

.login-page .login-container .left-login-container form .input-wrap .ic3 ~ .icon
{
    top: 1.5rem;
    transform: none;
}

.login-page .login-container .left-login-container a:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--color-neutral-2);
    color: var(--color-primary);
}

.login-page .login-container .left-login-container form .input-wrap-enviar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.login-page .login-container .left-login-container form .input-wrap-enviar .more{
    position: relative;
    background: white;
    color: var(--color-primary);
    bottom: 0;
    text-align: center;
    width: 130px;
}

.login-page .login-container .left-login-container form .input-wrap-enviar input{
    padding: 10px;
    border-radius: 3px;
    color: var(--color-white);
    background-color: var(--color-primary);
    width: 200px;
    margin-right: 20px;
    outline: none;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: all 0.2s ease;
}

.login-page .login-container .left-login-container form .input-wrap-enviar input:hover{
    color: var(--color-primary);
    background-color: var(--color-neutral-2);
    transition: 0.5s;
}

/*===============================================================*/
/*================= PAGINA COM FORMULÁRIO =======================*/
/*===============================================================*/

.overview-hero {
    width: 100%;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 5px;
    margin-top: 25px;
}

.overview-hero h2{
    color: var(--color-secundary);

}

.overview-hero form {
    display: flex;
    flex-wrap: wrap-reverse;
}

.overview-hero form>div {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
}

.overview-hero form>div h3{
    color: var(--color-secundary);
    margin-bottom: 20px;
}

.input-wrap {
    display: grid;
    gap: 10px;
}

.input-wrap label{
    color: var(--color-gray2);
}

.overview-hero form .form-right-side .input-wrap input{
    width: 100%;
    height: 35px;
    padding: 20px;
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: 14px;
    background-color: var(--color-gray6);
    color: var(--color-gray2);
}

.overview-hero form .form-right-side .input-wrap.textarea textarea{
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    font-weight: 400;
    border-radius: 14px;
    height: 135px;
    vertical-align: top;
    background-color: var(--color-gray6);
    color: var(--color-gray2);
}

.overview-hero form .form-right-side .input-wrap-enviar input{
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-primary);
    cursor: pointer;
}

.overview-hero form .form-left-side img{
    width: 220px;
}


.overview-hero form .form-left-side input {
    color: var(--color-gray2);
}
input[type="file"]::file-selector-button {
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px 20px;
    cursor: pointer;
    background-color: var(--color-white);
    border: 1px solid var(--color-secundary);
    color: var(--color-secundary);
    font-weight: 600;
    margin-right: 16px;
    transition: all 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--color-secundary);
    color: white;
}



/*============================================================*/
/*============================================================*/
/*============================================================*/

@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .content nav form .form-input input{
        display: none;
    }

    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--color-gray2);
        border-radius: none;
    }

    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: white;
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}