* {
    padding: 0;
    border: none;
    margin: 0;

    box-sizing: border-box;
    outline: none;
    text-decoration: none;

    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-primary: hsl(359, 96%, 44%);
    --color-primary1: hsl(0, 45%, 50%);

    --color-secundary: hsl(220, 60%, 40%);
    --color-secundary1: hsl(240, 30%, 21%);

    --color-variation2: hsl(220, 30%, 40%);
    --color-variation1: hsl(220, 90%, 40%);

    --color-dark: hsl(0, 14%, 12%);
    --color-success: hsl(137, 63%, 42%);
    --color-light: hsl(0, 30%, 50%);

    --color-black: hsl(0, 0%, 0%);
    --color-white: hsl(0, 0%, 100%);

    --color-gray1: hsl(0, 0%, 10%);
    --color-gray2: hsl(0, 0%, 30%);
    --color-gray3: hsl(0, 0%, 50%);
    --color-gray4: hsl(0, 0%, 70%);
    --color-gray5: hsl(0, 0%, 90%);
    --color-gray6: hsl(0, 0%, 95%) ;
}


/* =================================== */
/* ========= Header do site ========== */
/* =================================== */
header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background-color: var(--color-secundary1);
    z-index: 1000;
}

.topheader ul, 
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.topheader ul li{
    margin: 10px;
    font-size: 13px;
}

.topheader ul li a{
    padding: 5px;
    color: var(--color-white);
    font-weight: 400;
}

.topheader ul li a.active,
.topheader ul li a.active:hover{
    padding: 10px;
    color: var(--color-black);
    font-weight: 400;
    background-color: var(--color-white);
    border-radius: 10px 10px 0 0;
}

.topheader ul li a i{
    padding-right: 10px;
}

.topheader ul li a:hover{
    cursor: pointer;
    font-weight: 400;
    background-color: var(--color-secundary);
    border-radius: 10px;
}

/* =================================== */
/* ============= NavBar ============== */
/* =================================== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--color-white);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

nav .logo-area img{
    width: 12rem;
    padding: 15px;
}

nav ul li{
    position: relative;
    padding: 10px 0;
    transition: 0.5s ease;
}


nav ul li a,
nav ul li span{
    color: var(--color-black);
    font-size: 16px;
    font-weight: 600;
    padding: 30px 15px;
}

nav ul li a:hover,
nav ul li span:hover{
    color: var(--color-primary1);
    cursor: pointer;
}

nav ul li ul {
    max-width: 50rem;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: var(--color-secundary1);
    border-bottom: 1px solid red;
    transition: 0.5s ease;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3);
}

nav ul li ul li{
    width: 100%;
    padding: 10px;
    text-wrap: nowrap;
}

nav ul li ul li a:hover{
    border-radius: 10px;
    background-color: var(--color-variation1);
    width: 100%;
}

nav ul li button{
    background: transparent;
    color: var(--color-white);
}

nav ul li:hover ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    grid-auto-columns: max-content;
}

.carrinho {
    color: var(--color-primary);
}

.menutoggle {
    display: none;
    font-size: 2em;
    font-weight: 900;
}

nav.nav2{
    background-color: var(--color-secundary1);
    justify-content: space-between;
}


nav.nav2 ul li{
    position: relative;
    padding: 15px 10px;
    transition: 0.5s ease;
}

nav.nav2 ul li ul li{
    display: flex;
    align-items: center;
}

nav.nav2 ul li a,
nav.nav2 ul li span{
    color: var(--color-white);
    font-size: 15px;
    font-weight: 400;
    padding: 15px;
}

nav.nav2 ul li ul li{
    padding: 5px;
}

nav.nav2 ul li ul li a{
    padding: 10px;
    width: 100%;
    display: block;
}


.nav2 .search-box form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2 .search-box form input{
    padding: 10px;
    width: 300px;
}

.nav2 .search-box form i{
    padding: 11px;
    color: var(--color-white);
    background-color: var(--color-primary);
}

.responsive-nav2 {
    display: none;
}
/*Side Bar Menu para telas responsivas*/
/*Side Bar Menu para telas responsivas*/
/*Side Bar Menu para telas responsivas*/
/*Side Bar Menu para telas responsivas*/

nav .menutoggle  {
    cursor: pointer;
}

nav .side-bar-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-color: var(--color-gray6);
    right: 100%;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 20px 10px;
    transition: all 0.3s ease;
}

nav .side-bar-menu li{
    text-align: left;
    width: 100%;
}

nav .side-bar-menu li:first-child{
    text-align: right;
}

nav .side-bar-menu li:first-child a{
    text-align: right;
    background-color: var(--color-gray6);
    font-size: 22px;
}

nav .side-bar-menu li a{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: var(--color-gray5);
}

nav .side-bar-menu li a.active{
    color: var(--color-gray6);
    background: var(--color-secundary1);
}

nav .menutoggle.active + .side-bar-menu {
    right: 0;
}
/* =================================== */
/* ============== Hero =============== */
/* =================================== */

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main .hero{
    height: 22rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-variation1);
    position: relative;
}

main .hero .hero-text {
    color: var(--color-secundary);
    z-index: 100;
    margin-left: 5rem;
}

main .hero .hero-text h1{
    font-size: 4em;
    font-weight: 900;
    color: var(--color-white);
}

main .hero .hero-text P{
    padding: 10px;
    font-size: 1.2em;
    line-height: 30px;
    color: var(--color-white);
    font-weight: 800;
}

main .hero .hero-text .hero-btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
main .hero .hero-text .cta{
    padding: 10px 20px;
    color: var(--color-white);
    background: var(--color-primary);
    transition: 0.3s;
    border: 1px solid var(--color-primary);
}

main .hero .hero-text .cta1{
    padding: 10px 20px;
    color: var(--color-gray2);
    background-color: var(--color-white);
    transition: 0.3s;
    border: 1px solid var(--color-white);
}
main .hero .hero-text .cta:hover,
main .hero .hero-text .cta1:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    transition: 0.3s;
}

main .hero .hero-gradient-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, black, transparent);
    z-index: 10;
}

main .hero .hero-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
}

main .hero .hero-bg img{
    width: 100%;
    z-index: 1;
    transition: all 0.3s ease;
}

main .hero .hero-bg img.active{
    width: 100%;
}

/*

main .hero .hero-img{
    height: 100%;
}
main .hero .hero-img img{
    height: 100%;
}

 =================================== */
/* ============== Hero =============== */
/* =================================== */

.main-body {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main-sections {
    max-width: 300rem;
    display: grid;
    gap: 20px;
}

aside {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside .aside-box{
    border-top: 6px solid var(--color-primary);
    padding: 20px;
    background-color: var(--color-gray6);
}

aside .aside-box h2{
    color: var(--color-secundary1);
}

aside .aside-box form{
    margin-top: 30px;
    display: grid;
    gap: 10px;
}
aside .aside-box form input{
    padding: 10px;
    width: 100%;
}
aside .aside-box form input[type=submit]{
    background: var(--color-primary);
    color: var(--color-white);
    margin-top: 20px;
    margin-bottom: 10px;
}
aside .aside-box span a{
    color: var(--color-primary);
    text-decoration: underline;
}

.vantagens {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    display: none;
}

.vantagens .vant-card{
    padding: 20px;
    width: 15rem;
    height: 9rem;
    align-items: center;
    gap: 20px;
    background-color: var(--color-gray5);
    color: var(--color-gray3);
}

.vantagens .vant-card p{
    text-align: center;
}

.vantagens .vant-card p i{
    font-size: 2.5em;
    color: var(--color-variation2);
    padding-bottom: 20px;
}

.categorias {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 30px;
    border-bottom: 5px solid var(--color-secundary1);
}

.categorias .catg-card{
    width: 22rem;
    height: 12rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.categorias .catg-card img{
    position: absolute;
    top: -50%;
    right: 0;
}

.categorias .catg-card .catg-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    background: linear-gradient(to right, var(--color-secundary), var(--color-secundary), transparent);
    z-index: 2;
    padding: 10px;
    padding-left: 20px;
}
.categorias .catg-card h2{
    color: var(--color-white);
    padding-bottom: 10px;
    font-size: 2.1em;
}
.categorias .catg-card p{
    color: var(--color-gray5);
    padding-bottom: 20px;
    padding-right: 30px;
}

.btn {
    padding: 5px 10px;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: 13px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: transparent;
    cursor: pointer;
}

.btn.btn-secundary {
    color: var(--color-white);
    background-color: var(--color-secundary);
    font-size: 14px;
    border: 1px solid var(--color-secundary);
}

.btnbtn-secundary:hover {
    background-color: transparent;
    cursor: pointer;
    color: var(--color-secundary1);
}

.tipoProdutos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: stretch;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 5px solid var(--color-secundary1);
    height: min-content;
}

.tipoProdutos .produto{
    display: grid;
    padding: 20px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    gap: 10px;
    border-radius: 10px;
    position: relative;
    top: 0;
    transition: 0.3s;
    height: 100%;
}


.tipoProdutos .vermaisbtn{
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 800;
    color: var(--color-white);
    background: url(../images/ferramentas.jpg);
    background-position: center;
    
    background-size: 25rem;
    position: relative;
    overflow: hidden;
}

.tipoProdutos .vermaisbtn:hover{
    background-size: 27rem;
    transition: 0.3s;
}

.tipoProdutos .vermaisbtn::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.tipoProdutos .vermaisbtn h1{
   z-index: 2;
   cursor: pointer;
}



.tipoProdutos .produto:hover{
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
    top: -2px;
    cursor: pointer;
    transition: 0.3s;
}

.tipoProdutos .produto span{
    color: var(--color-gray3);
    font-size: 13px;
    font-weight: 200;
}

.tipoProdutos .produto h3{
    color: var(--color-secundary);
    font-size: 1.2em;
    font-weight: 700;
}

.tipoProdutos .produto img{
    width: 100%;
    margin-top: 5px;
}


.min-screen-newsletter {
    width: 100%;
    background: var(--color-gray6);
    border-top: 3px solid var(--color-primary);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    display: none;
}

.min-screen-newsletter i {
    font-size: 3em;
    color: var(--color-primary);
}



.min-screen-newsletter h2{
    color: var(--color-secundary1);
    font-size: 2em;
}

.min-screen-newsletter form input{
    padding: 10px;
    width: 15rem;
    border-bottom: 1px solid var(--color-primary);
}
.min-screen-newsletter form input[type=submit]{
    background: var(--color-primary);
    color: var(--color-white);
    margin-top: 20px;
    margin-bottom: 10px;
    width: 5rem;
}

/*------------------------- contact us ---------------------------*/
/*------------------------- contact us ---------------------------*/

.contact_s{
    width: 100%;
    margin-bottom: 30px;
}


.contact_s .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.contact_s .content .texto 
{
    width: 490px;
    padding-top: 20px;
}

.contact_s .content .texto h3
{
    font-size: 1.8em;
    font-weight: 700;
    color: var(--color-secundary1);
    margin-bottom:5px;
}

.contact_s .content .texto p
{
    font-size: 14px;
    line-height: 24px;
    color: var(--color-gray2);
    margin-bottom: 15px;
}

.contact_s .content .texto a
{
    font-size: 15px;
    color: var(--color-white);
    background-color: var(--color-secundary1);
    border: 1px solid var(--color-secundary1);
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}


.contact_s .content .texto form 
{
    max-width: 100%;
}
.contact_s .content .texto form .input-wrap 
{
    position: relative;
    margin: 22px 0;
}

.contact_s .content .texto form .input-wrap .input-contact
{
    width: 100%;
    background: var(--color-gray6);
    border: 1px solid var(--color-gray6);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    color: var(--color-gray1);
    font-weight: 500;
    transition: 0.2s;
}

.contact_s .content .texto form .input-wrap .input-contact:focus
{
    border: 1px solid var(--color-variation1);
    transition: 0.2s;
}

.contact_s .content .texto form .input-wrap label
{
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    font-size: 14px;
    transition: 0.5s;
    color: var(--color-gray1);
}

.contact_s .content .texto form .input-wrap .input-contact:focus ~ label,
.contact_s .content .texto form .input-wrap .input-contact:valid ~ label
{
    top: 27%;
    font-size: 11px;
    transition: 0.5s;
}

.contact_s .content .texto form .input-wrap .icon
{
    position: absolute;
    top: 50%;
    right: calc(1.35rem + 2px);
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
    color: var(--color-gray1);
}


.contact_s .content .texto form .input-wrap .ic3
{
    width: 100%;
    resize: none;
    height: 160px;
}


.contact_s .content .texto form .input-wrap .ic3:focus ~ label,
.contact_s .content .texto form .input-wrap .ic3:valid ~ label
{
    top: 0.7rem;
}

.contact_s .content .texto form .input-wrap .ic3 ~ label
{
    top: 1.5rem;
    transform: none;
}

.contact_s .content .texto form .input-wrap .ic3 ~ .icon
{
    top: 1.5rem;
    transform: none;
}

.contact_s .content .texto a:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--color-gray6);
    color: var(--color-secundary1);
}

.contact_s .content .texto form .input-wrap-enviar{
    width: 100%;
    display: flex;
    align-items: center;
}

.contact_s .content .texto form .input-wrap-enviar .more{
    position: relative;
    background: white;
    color: var(--color-primary);
    bottom: 0;
    border: 1px solid var(--color-primary);
    text-align: center;
    width: 130px;
}

.contact_s .content .texto form .input-wrap-enviar input{
    padding: 10px;
    color: var(--color-gray6);
    background-color: var(--color-primary);
    width: 130px;
    margin-right: 20px;
    outline: none;
    border: 1px solid var(--color-primary);
}

.contact_s .content .texto form .input-wrap-enviar input:hover{
    color: var(--color-primary);
    background-color: var(--color-white);
    transition: 0.5s;
    cursor: pointer;
}

.contact_s .content .mais{
    display: flex;
    flex-direction: column;
    width: 500px;
}


.contact_s .content .mais .localizacao{
    padding:20px;
    background: var(--color-gray6);
    width: 100%;
}

.contact_s .content .mais .localizacao .map{
    width: 100%;
    border: 1px solid var(--color-variation1);
}

.contact_s .content .mais .localizacao h4{
    font-size: 1.8em;
    font-weight: 700;
    color: var(--color-secundary);
    margin-bottom:10px;
}

.contact_s .content .mais .localizacao .contact-icons{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
}


.contact_s .content .mais .localizacao .contact-icons a{
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-variation2);
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: 0.5s;
    border-radius: 20px;
}

.contact_s .content .mais .localizacao .contact-icons a:hover{
    background: var(--color-primary);
    transition: 0.5s;
}
/*------------------------- contact us ---------------------------*/
/*------------------------- contact us ---------------------------*/

/**===============================================*/
/**===============================================*/
/**================= Produtos ====================*/
/**===============================================*/

.produtos{
    width: 100%;    
    margin-top: 20px;
}


.produtos .produtos-header {
    font-size: 1em;
    font-weight: 900;
    color: var(--color-white);
    padding: 20px 10px;
    margin-bottom: 10px;
    width: 100%;
    background: var(--color-secundary1);
}

.produtos .produtos-header.produtos-header2 {
    background: var(--color-white);
    margin-top: 30px;
}

.produtos .produtos-header a {
    color: var(--color-variation2);
    font-weight: 500;
    padding: 20px 10px;
    margin-bottom: 10px;
    width: 100%;
    background: var(--color-white);
}

.produtos .produtos-header h1 a {
    font-size: 1em;
    font-weight:700;
    color: var(--color-white);
    padding: 20px 10px;
    margin-bottom: 10px;
    width: 100%;
    background: transparent;
}

.produtos .produtos-header h1{
    font-weight: 600;
}
.produtos .produtos-header h1:hover{
    cursor: pointer;
}

.produtos .produtos-header.produtos-header1 {
    color: var(--color-secundary1);
    background: var(--color-white);
    padding-top: 3rem;
}


.produtos .produtos-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: stretch;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    height: min-content;
}

.produtos-item{
    width: 220px;
    background: var(--color-gray6);
    padding: 10px;

}

.produtos-item .produto-item-img{
    width: 100%;
    height: 200px;
    position: relative;
}

.produtos-item .produto-item-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.produtos-item .produto-item-img .produto-item-qtd{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: var(--color-gray6);
    color: var(--color-secundary1);
    font-weight: 800;
}

.produtos-item .produto-item-img .produto-item-img-actions{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 10px;
    width: 100%;
}

.produtos-item .produto-item-img .produto-item-img-actions a.prod-btn{
    width: 200px;
    padding: 5px 10px;
    color: var(--color-white);
    background: var(--color-primary);
    display: inline-block;
    width: 60px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    top: 0;
    transition: all 0.3s ease;
}

.produtos-item .produto-item-img .produto-item-img-actions a.prod-btn:hover{
    top: -5px;
}

.produtos-item .produto-item-img .produto-item-img-actions a.prod-btn.prod-btn-2{
    background: var(--color-secundary1);
}

.produtos-item .produto-item-img .produto-item-qtd input{
   width: 30px;
   color: var(--color-secundary1);
   font-weight: 600;
   font-size: 16px;
   background: var(--color-gray6);
}

.produtos-item .produto-item-body {
   display: grid;
   gap: 5px;
   padding-top: 10px;
}

.produtos-item .produto-item-body span{
   font-size: 13px;
   font-weight: 500;
   color: var(--color-gray1);
}

.produtos-item .produto-item-body h3{
   font-weight: 600;
   color: var(--color-secundary1);
   font-size: 1em;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.produtos-item .produto-item-body h2{
   font-weight: 900;
   font-size: 1.5em;
   color: var(--color-secundary1);
}

.produtos-item .produto-item-body h2 span{
    font-size: 17px;
    font-weight: 900;
    color: var(--color-secundary1);
}

/**===============================================*/
/**===============================================*/
/**================= Produtos ====================*/
/**===============================================*/
/**===============================================*/



/**===========================================*/
/**=============== Footer ====================*/
/**===========================================*/

footer{
    width: 100%;
    background-color: var(--color-secundary1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 50px;
    max-width: 1500px;
    gap: 20px;
}


footer .container .sec.about-us{
    max-width: 300px;
}

footer .container h3{
    position: relative;
    color: var(--color-white);
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 1.5em;
}

footer .container h3::before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    margin-bottom: 10px;
}

footer p{
    color: var(--color-gray5);
    text-align: justify;
}

footer .about-us .mapa{
    padding-top: -10px;
    color: var(--color-gray5);
}

.redes {
    display: flex;
    padding-left: 0;
}


.redes .contact-icons{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


.redes .contact-icons a{
    text-decoration: none;
    color: var(--color-secundary);
    background: var(--color-white);
    border-radius: 20px;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: 0.3s;
}
produtos-header
.redes .contact-icons a:hover{
    color: var(--color-gray5);
    background: var(--color-primary);
    transition: 0.3s;
}

.links{
    position: relative;
    max-width: 300px;
}


.links ul li{
    text-decoration: none;
    list-style: none;
    margin: 5px 0;
}

.links ul li a{
    color: var(--color-gray4);
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.links ul li a:hover{
    color: var(--color-white);
    transition: 0.2s;
    text-decoration: none;
}

.contacte-nos{
    max-width: 300px;
    margin-right: 0 !important;
}

.contacte-nos .info{
    position: relative;
    padding-left: 10px;
}

.contacte-nos .info li{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.contacte-nos .info{
    list-style: none;
}

.contacte-nos .info li span:first-child{
    color: var(--color-gray4);
    font-size: 20px;
    margin-right: 10px;
}
.contacte-nos .info li span{
    color: var(--color-gray4);
}

.contacte-nos .info li p{
    margin-bottom: 0;
}

.contacte-nos .info li a{
    color: var(--color-gray4);
    text-decoration: none;
}

.contacte-nos .info li a:hover{
    color: var(--color-gray5);
    text-decoration: none;
}

.copyright{
    background: var(--color-secundary);
    text-align: center;
    color: var(--color-gray4);
}
.copyright p{
    padding: 10px;
}
/*===================================================================*/
/*===================================================================*/
/*==================== Aside box filtrar pesquisa ===================*/
.aside-box-filter {
    padding: 10px;
    background: var(--color-gray6);
    margin-top: 20px;
}


.aside-box-filter-header {
    width: 100%;
    background: var(--color-secundary1);
    color: var(--color-gray6);
    padding: 10px;
}

.aside-box-filter-body {
    display: grid;
    gap: 10px;
    padding: 15px 0;
}

.aside-box-filter-body.aside-box-filter-body1 {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aside-box-filter-body .input-box{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
}

.aside-box-filter-body .input-box input{
    width: 100%;
    padding: 10px;
}

.aside-box-filter-body label{
    color: var(--color-gray3);
}

.aside-box-filter-body select{
    padding: 10px;
}

.aside-box-filter-body .input-box i{
    color: var(--color-gray6);
    background: var(--color-secundary1);
    padding: 5px;
}

.aside-box-filter-body .input-box i.input-icon{
    padding: 11px;
}

.aside-box-filter-body ul{
    list-style: none;
    width: 100%;
}

.aside-box-filter-body ul li a{
    display: inline-block;
    width: 100%;
    padding: 5px;
    color: var(--color-gray2);
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.aside-box-filter-body ul li a:hover{
    color: var(--color-secundary);
}
.aside-box-filter-body ul li a.active{
    background-color: var(--color-secundary1);
    color: var(--color-gray6);
}


/*===================================================================*/
/*===================================================================*/
/*==================== Aside box filtrar pesquisa ===================*/
/*===================================================================*/
/*===================================================================*/

.faqs-section {
    width: 100%;
    padding: 10px 30px;
}

.faqs-section .section-h1{
    width: 100%;
    text-align: center;
}

.faqs-section .section-h1 h1{
    font-weight: 900;
    color: var(--color-secundary1);
    position: relative;
    font-size: 2.5em;
    padding-bottom: 10px;
}

.faqs-section .section-h1 h1::before{
    content: " ";
    width: 20%;
    height: 3px;
    background-color: var(--color-primary);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.faqs-section .content {
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqs-section .content .faq{
    max-width: 55rem;
    margin-bottom: 10px;
}

.faqs-section .content .faq .faq-h1{
    width: 100%;
    background: var(--color-secundary1);
    padding: 10px 15px;
    color: var(--color-white);
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    position: relative;
}

.faqs-section .content .faq .faq-h1::before{
    content: "+";
    font-size: 25px;
    color: var(--color-white);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.faqs-section .content .faq .faq-p{
    width: 100%;
    background: var(--color-gray5);
    color: var(--color-dark);
    min-height: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    border-radius: 0 0 5px 5px;
}

.faqs-section .content .faq .faq-p p{
    padding: 20px;
    line-height: 1.4em;
    transition: all 0.3s ease;
}

.faqs-section .content .faq.active .faq-p{
    min-height: 6rem;
    transition: all 0.3s ease;
}

.faqs-section .content .faq.active .faq-h1{
    background-color: var(--color-secundary);
    transition: all 0.3s ease;
}

.faqs-section .content .faq.active .faq-h1::before{
    content: "-";
    font-size: 25px;
    color: var(--color-whiten);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}


/*===================================================================*/
/*===================================================================*/
/*===================================================================*/
/*===================================================================*/
/*===================================================================*/


.produto-card-pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.produto-card-pop-up .pop-up-content{
    padding: 1.5rem;
    border-radius: 5px;
    background-color: var(--color-white);
}

.produto-card-pop-up .pop-up-content .pop-up-content-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--color-success);
}

.produto-card-pop-up .pop-up-content .sair h2{
    transition: all 0.3s ease;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-secundary1);
}
.produto-card-pop-up .pop-up-content .sair h2:hover{
    cursor: pointer;
    color: var(--color-primary);
}

table{
    width: 100%;
    border-collapse: collapse;
    padding-top: 20px;
}

table th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: 700;
    color: var(--color-gray1);
}

table tbody tr td a.btn.btn-success {
    background-color: var(--color-success);
    padding: 10px 15px;
}

table tbody tr .footer-td {
    text-align: right;
    padding: 10px;
    margin-top: 20px;

}
table td.cart-actions .btn-danger {
    background-color: var(--color-light);
}


.produto-esp th, 
.produto-esp td {
    text-align: left;
}

table .produto-esp tr td p{
    font-weight: 300;
}

table thead tr th{
    background-color: var(--color-secundary1);
    color: var(--color-gray6);
}

table tbody tr:nth-child(odd) {
    background-color: var(--color-gray5);
}

table tbody tr:nth-child(odd) p.quantidade {
    background-color: var(--color-white);
}

table tbody tr:nth-child(odd) p.quantidade input{
    background-color: var(--color-gray6);
}

table td.texto {
    text-align:left;
}

table img{
    width: 40px;
}

table .img-td img {
    width: 80px;
}


.produto-card-pop-up .pop-up-content .pop-up-content-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.produto-card-pop-up .pop-up-content .pop-up-content-footer .actions{
    display: flex;
    align-items: center;
    gap: 10px;
}

.produto-card-pop-up .pop-up-content .pop-up-content-footer .actions a, 
.produto-card-pop-up .pop-up-content .pop-up-content-footer .actions span{
    padding: 5px 15px;
    color: var(--color-gray6);
    background-color: var(--color-primary);
    cursor: pointer;
}

.produto-card-pop-up .pop-up-content .pop-up-content-footer .actions span.fechar{
    background-color: var(--color-gray3);
}

/*================================================================*/
/*================================================================*/
/*============================ PRODUTO ===========================*/
/*================================================================*/
/*================================================================*/

.produto-body-header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.produto-body.produto-body-carrinho {
    width: 980px;
}

.produto-img{
    margin-right: 10px;
}

.produto-img img {
    width: 300px;
}

.produto-desc {
    max-width: 600px;
    min-width: 30rem;
}

.produto-desc h1{
    font-size: 2.5em;
    color: var(--color-secundary1);
    padding: 10px 0;
}

.produto-desc p{
    color: var(--color-gray3);
    padding: 10px 0;
}

.produto-desc p span{
    color: var(--color-primary);
    font-weight: 600;
}

.produto-desc p span.yes{
    color: var(--color-success);
    font-weight: 600;
}

.produto-desc p span.no{
    color: var(--color-light);
    font-weight: 600;
}

.produto-desc .actions{
    display: grid;
    grid-template-columns: 230px 1fr 1fr;
    border-spacing: 1px solid var(--color-gray4);
    margin-top: 10px;
}

.action{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.action .quantidade{
    padding: 10px;
    background: var(--color-gray5);
    display: flex;
}

.action .quantidade input{
    width: 78px;
    padding: 0 10px;
}

.produto-desc .actions .btn{
    padding: 10px;
    font-size: 13px;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-weight: 600;
    transition: all 0.3s ease;
}

.produto-desc .actions .btn:hover {
    background-color: var(--color-variation1);
    cursor: pointer;
}

.produto-desc .actions > * {
    border-right: 1px solid var(--color-gray4);
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto-desc .actions > :last-child {
    border-right: none; /* Remover a borda direita do último elemento para evitar excesso */
}
 /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/
.about-hero {
    max-width: 1200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.about-hero img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    
}
.about-hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    font-size: 4.5em;
    transform: translate(-50%, -50%);
    font-weight: 800;
    color: var(--color-white);
}
 
.text-info {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

 
.text-info.text-info-reverse {
    flex-wrap: wrap-reverse;
}
.text-info>div {
    max-width: 600px;
}

.text-info .text-info-text{
    padding: 0 20px;
}
.text-info .text-info-text p{
    font-size: 17px;
    letter-spacing: -1px;
    line-height: 25px;
    font-weight: 600;
    color: var(--color-gray4);
}

.text-info .text-info-text h1{
    font-size: 3em;
    letter-spacing: -1px;
    font-weight: 700;
    color: var(--color-gray2);
    text-transform: uppercase;
    padding: 40px 0;
}

.text-info .text-info-img {
    padding: 20px;
}

.text-info .text-info-img img{
    width: 100%;
}

.partners h2{
    padding: 10px 20px;
    color: var(--color-secundary);
}

.partners-slider{
    display: flex;
    align-items: center;
    max-width: 1200px;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-secundary) var(--color-white); 
    margin-bottom: 20px;
}

.partners-slider::-webkit-scrollbar {
    width: 10px;
}


.partners-slider a{
    padding: 5px 100px;
}

.partners-slider a:hover{
    background: var(--color-gray5);
}


.partners-slider a img{
    width: 100px;
}

.partners-slider a img.partner-image-big{
    width: 40px;
}

 /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/
.login-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gray4);
}

.message-sec{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.05);
}

.message-sec .message{
    width: 20rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--color-white);
    color: var(--color-gray2);
    font-size: 16px;
    z-index: 100;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.message-sec .message a {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-primary);
    font-size: 13px;
    border: 1px solid var(--color-primary);
}

.login-container{
    width: 60rem;
    min-height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gray2);
    border-radius: 10px;
    overflow: hidden;
}

.login-page .login-container>div{
    width: 50%;
    min-width: 25rem;
    height: 35rem;
    text-align: center;
}

.login-page .login-container .right-login-container{
    background: linear-gradient(120deg, rgb(17, 59, 228), var(--color-secundary),  var(--color-secundary));
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page .login-container .right-login-container h1{
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
}

.login-page .login-container .right-login-container h1::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background: var(--color-primary);
    border-radius: 20px;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.login-page .login-container .left-login-container{
    background-color: var(--color-white);
    padding: 3rem;
}

.login-page .login-container .left-login-container h2{
    font-size: 2em;
    padding-bottom: 10px;
    font-weight: 700;
}

.login-page .login-container .left-login-container span{
    font-size: 13px;
    padding-top: 10px;
    display: inline-block;
    color: var(--color-gray2);
}

.login-page .login-container .left-login-container span.a-span{
    padding-top: 0;
    width: 100%;
    text-align: right;
}

.login-page .login-container .left-login-container span a{
    text-decoration: underline;
    color: var(--color-gray3);
}

.login-page .login-container .left-login-container .social-midia-sec{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-page .login-container .left-login-container .social-midia-sec a{
    padding: 5px;
    width: 7rem;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.login-page .login-container .left-login-container form .input-wrap 
{
    position: relative;
    margin: 22px 0;
}

.login-page .login-container .left-login-container form .input-wrap .input-login
{
    width: 100%;
    background: var(--color-gray6);
    border: 1px solid var(--color-neutral-2);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    border-radius: 3px;
    color: var(--color-text-muted);
    font-weight: 500;
    transition: 0.2s;
}

.login-page .login-container .left-login-container form .input-wrap .input-login:focus
{
    border: 1px solid var(--color-primary);
    transition: 0.2s;
}

.login-page .login-container .left-login-container form .input-wrap label
{
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    font-size: 14px;
    transition: 0.5s;
    color: var(--color-text);
}

.login-page .login-container .left-login-container form .input-wrap .input-login:focus ~ label,
.login-page .login-container .left-login-container form .input-wrap .input-login:valid ~ label
{
    top: 27%;
    font-size: 11px;
    transition: 0.5s;
    color: var(--color-primary);
}

.login-page .login-container .left-login-container form .input-wrap .icon
{
    position: absolute;
    top: 50%;
    right: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--color-text-muted);
    cursor: pointer;
}

.login-page .login-container .left-login-container form .input-wrap .input-login:focus ~ .icon
{
    transition: 0.5s;
    color: var(--color-primary);
}

.login-page .login-container .left-login-container form .input-wrap .ic3
{
    width: 100%;
    resize: none;
    padding-bottom: 140px;
}


.login-page .login-container .left-login-container form .input-wrap .ic3:focus ~ label,
.login-page .login-container .left-login-container form .input-wrap .ic3:valid ~ label
{
    top: 0.7rem;
}

.login-page .login-container .left-login-container form .input-wrap .ic3 ~ label
{
    top: 1.5rem;
    transform: none;
}

.login-page .login-container .left-login-container form .input-wrap .ic3 ~ .icon
{
    top: 1.5rem;
    transform: none;
}

.login-page .login-container .left-login-container a:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--color-neutral-2);
    color: var(--color-primary);
}

.login-page .login-container .left-login-container form .input-wrap-enviar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.login-page .login-container .left-login-container form .input-wrap-enviar .more{
    position: relative;
    background: white;
    color: var(--color-primary);
    bottom: 0;
    text-align: center;
    width: 130px;
}

.login-page .login-container .left-login-container form .input-wrap-enviar input{
    padding: 10px;
    border-radius: 3px;
    color: var(--color-white);
    background-color: var(--color-primary);
    width: 200px;
    margin-right: 20px;
    outline: none;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    transition: all 0.2s ease;
}

.login-page .login-container .left-login-container form .input-wrap-enviar input:hover{
    color: var(--color-primary);
    background-color: var(--color-neutral-2);
    transition: 0.5s;
}

body main .contact_s .content .mais{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}


body main .contact_s .content .mais .newsletter{
    border-radius: 20px;
    background: var(--color-primary);
    padding: 20px;
    margin-bottom: 10px;
}

body main .contact_s .content .mais .newsletter h4{
    color: var(--color-neutral-2);
    font-weight: 600;
    font-size: 1.2em;
}

body main .contact_s .content .mais .newsletter p{
    color: var(--color-neutral-2);
    font-size: 13px;
}

body main .contact_s .content .mais .newsletter input{
    padding: 10px;
    color: var(--color-text);
    font-size: 13px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 130px;
    transition: 0.4s;
}

body main .contact_s .content .mais .newsletter input:focus{
    width: 210px;
    transition: 0.4s;
}

body main .contact_s .content .mais .newsletter i{
    padding: 10px 12px;
    font-size: 13px;
    border-radius: 20px;
    border: 1px solid var(--color-neutral-2);
    transition: 0.5s;
    color: var(--color-neutral-2);
    background: var(--color-primary);
}

body main .contact_s .content .mais .newsletter i:hover{
    color: var(--color-primary);
    background: white;
    transition: 0.5s;
}

body main .contact_s .content .mais .localizacao{
    padding: 20px;
    border-radius: 20px;
    background: var(--color-neutral-2);
}

body main .contact_s .content .mais .localizacao h4{
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 10px;
}

body main .contact_s .content .mais .localizacao .contact-icons{
    display: flex;
    align-items: center;
    margin-top: 10px;
}


body main .contact_s .content .mais .localizacao .contact-icons a{
    text-decoration: none;
    color: var(--color-gray5);
    background: var(--color-primary);
    border-radius: 20px;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    border: 1px solid var(--color-primary);
    transition: 0.5s;
}

body main .contact_s .content .mais .localizacao .contact-icons a:hover{
    color: var(--color-primary);
    background: var(--color-neutral-2);
    transition: 0.5s;
}
/*------------------------- contact us ---------------------------*/
/*------------------------- contact us ---------------------------*/




 /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/
.hero-about {
    height: 15rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-about .hero-test-center{
    text-align: center;
    color: var(--color-gray6);
    font-weight: 600;
    font-size: 2.2em;
    z-index: 3;
}

.hero-about .hero-black-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
}

.hero-about .hero-bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translatey(-50%);
}

.flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-div .content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    max-width: 60rem;
}

.flex-div .content .about-text h1{
    color: var(--color-secundary1);
    font-size: 2.5em;
    padding-bottom: 10px;
}

.flex-div .content .about-text p{
    color: var(--color-secundary1);
    font-size: 1.3em;
    line-height: 1.7em;
    padding-bottom: 20px;

}

 /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/



/*------------------------- Responsive ---------------------------*/
/*------------------------- Responsive ---------------------------*/


@media (max-width: 1425px){
    
    .topheader {
        display: none;
    }
    
    .tipoProdutos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    .categorias{
        gap: 10px;
    }
    .categorias .catg-card{
        width: 17rem;
    }

    .produtos .produtos-body .produtos-item{
        width: 210px;
    }

    .produto-body.produto-body-carrinho {
        width: fit-content;
    }
}

@media (max-width: 1200px){
    aside {
        display: none;
    }
    .responsive-nav2 {
        display: flex;
    }
    .large-screen-nav2 {
        display: none;
    }
    
    footer .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .min-screen-newsletter {
        display: grid;
    }
}

@media (max-width: 1100px){
    
    

    nav.nav2{
        padding: 0 30px;
    }
    
    main .hero .hero-text h1{
        font-size: 3em;
        font-weight: 700;
    }

    main .hero .hero-text P{
        font-size: 1.2em;
        font-weight: 500;
    }

    footer .container{
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: 960px){

    .large-screen-nav {
        display: none;
    }

    .menutoggle {
        display: flex;
    }

    .produtos .produtos-body{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tipoProdutos .vermaisbtn {
        width: 200px;
        height: 250px;
    }

    /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/
 /*===============================================================*/
.login-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gray4);
}
/*
.message-sec{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.05);
}

.message-sec .message{
    width: 20rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--color-white);
    color: var(--color-gray2);
    font-size: 16px;
    z-index: 100;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.message-sec .message a {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-primary);
    font-size: 13px;
    border: 1px solid var(--color-primary);
}
*/

    /*LOGIN CONTAINER*/
    .login-container{
        width: 30rem;
    }

    .login-page .login-container>div{
        width: 100%;
        min-width: 100%;
    }

    .login-page .login-container .right-login-container{
        display: none;
    }
    /*LOGIN CONTAINER*/

}

@media (max-width: 885px){

    main .hero .hero-text {
        margin-left: 1rem;
    }

    .tipoProdutos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .min-screen-newsletter {
        grid-template-columns: 1fr;
    }
    .min-screen-newsletter i{
        font-size: 7em;
        margin-top: 20px;
    }

    /*Imagens dos Geradores da outro site*/
    .categorias .catg-card:last-child{
        display: none;
    }
    
    /*As colunas pros produtos serão apenas 2*/
    .tipoProdutos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 755px){
    
    .produtos .produtos-body{
        grid-template-columns: 1fr 1fr;
    }

    .nav2 .search-box form input {
        padding: 10px;
        width: 200px;
    }

    .categorias .catg-card:last-child{
        display: none;
    }
    .categorias {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 30px;
        margin: 0;
    }
    .categorias .catg-card {
        width: 50%;
        min-width: 13px;
    }

    nav .logo-area img {
        width: 10rem;
    }
}

@media (max-width: 500px){
    nav.nav2 ul li span {
        padding-left: 0;
    }
        
    .faqs-section .content .faq.active .faq-p{
        min-height: 12rem;
    }
    
    main .hero{
        height: 16rem;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
    }

    main .hero .hero-bg img {
        width: 100%;
        height: 100%;
    }

    main .hero .hero-text{
        min-width: 15rem;
        padding: 20px;
    }

    main .hero .hero-text h1 {
        font-size: 2em;
        font-weight: 700;
    }
    main .hero .hero-text p {
        padding-left: 0;
    }

    .categorias .catg-card {
        min-width: 100%;
    }

    .nav2 .search-box form input {
        width: 200px;
    }

    .tipoProdutos {
        border-bottom: 0;
    }

    .categorias {
        border-bottom: 0;
    }

    
    .produto-img img {
        width: 200px;
    }

    .produto-desc {
        width: 100%;
        min-width: 20rem;
        padding: 0 20px;
    }

    .produto-desc .actions{
        grid-template-columns: 1fr 1fr;
    }

    .produto-desc .actions > * {
        justify-content: left;
        padding-right: 10px;
    }

    .produto-desc .actions .preco {
        justify-content: center;
    }
    
    .action {
        display: flex;
        flex-direction: row;
        gap: 0;
    }
    .action .quantidade input{
        width: 30px;
        padding: 0 10px;
    }

        
    .produto-desc .actions > :last-child {
        border-top: 1px solid var(--color-gray3); 
        padding-top: 10px;
    }

    /*LOGIN CONTAINER*/
    .login-page .login-container{
        padding: 0 20px;
        background-color: transparent;
        min-width: 100%;
    }

    /*heder da secção de produtos*/
    .produtos .produtos-header h1 a,
    .produtos .produtos-header h1{
        font-size: 0.95em;
        font-weight: 500;
    }

    .produtos {
        margin-top: 0px;
    }

}

@media (max-width: 459px){
    
    
    /* ====== Card das categorias =======*/
    /* ====== Card das categorias =======*/
    /* ====== Card das categorias =======*/
    .tipoProdutos {
        gap: 10px;
    }
    .tipoProdutos .produto {
        width: 150px;
    }
    .tipoProdutos .vermaisbtn {
        width: 150px;
        height: 250px;
    }
    .tipoProdutos .vermaisbtn h1{
        font-size: 17px;
    }
    /* ====== Card das categorias =======*/
    /* ====== Card das categorias =======*/
    /* ====== Card das categorias =======*/
    
    .produtos .produtos-body{
        grid-template-columns: 1fr;
    }

    .categorias .catg-card {
        height: 10rem;
    }

    .categorias .catg-card h2 {
        font-size: 1.5em;
    }
    .categorias .catg-card p {
        font-size: 0.9em;
    }

    .produto-desc .actions{
        grid-template-columns: 1fr;
    }

    .produto-desc .actions > * {
        justify-content: center;
        padding-right: 10px;
        border: none;
        border-top: 1px solid var(--color-gray3);
    }

    .action {
        gap: 10px;
    }

    .contact_s .content .texto {
        width: 320px;
    }

    .faqs-section .section-h1 h1 {
        font-size: 1.8em;
    }
}

@media (max-width: 601px){
    footer .container{
        grid-template-columns: 1fr;
    }

    .contact_s .content .mais {
        width: 100%;
    }

    nav ul li:hover ul {
        grid-template-columns: 1fr;
        max-height: 30rem;
        overflow: scroll;
    }

    li span.more span {
        display: none;
    }
    /*?????? TABELAS RESPONSIVAS ??????*/
    /*?????? TABELAS RESPONSIVAS ??????*/
    /*?????? TABELAS RESPONSIVAS ??????*/

    table {
        max-width: 350px;
    }

    th {
        display: none;
    }

    td {
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        font-weight: 400;
    }

    td .td-p-category{
        display: none;
    }

    td.img-td {
        justify-content: center;
    }

    td::before {
        content: attr(data-cell);
        font-weight: 700;
        width: 100px;
    }

    td.img-td::before {
        content: " ";
        width: 0;
    }
}


/*=========================================  */
/*===========  TALAS GRANDES ==============  */
/*=========================================  */

@media (min-width: 1560px){
    .topheader {
        justify-content: space-evenly;
    }

    nav {
        justify-content: space-evenly;
    }
    
    nav.nav2{
        justify-content: space-evenly;
    }   
}

/*produto-desc  produtos .produtos-header h1 a  .produto{  login-page logo-area .faqs-section .btn .input-contact .faqs-section .content .faq .faq-p .btn */